.error-container{
    text-align: center ;
    background-color: #fff;
    border: 1px rgb(224, 224, 224) solid ;
    width: 80% ;
    margin: 100px auto;
    padding: 100px 50px;
}

.error-name{
    font-size: 3em ;
    color: rgb(202, 8, 8) ;
    margin-bottom: 50px;
}