* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #353535 ;
  font-size: 15px ;
}

div, form, section, article, header, footer{
  width: 100%;
  box-sizing: border-box;
}

h1{ 
    font-size: 2.0em; 
} 
     
h2{ 
  font-size: 1.8em;     
} 
     
h3{ 
  font-size: 1.6em; 
} 
     
h4{ 
  font-size: 1.4em;  
  margin: .4em 0;   
} 
     
h5{ 
  font-size: 1.2em;     
} 
     
p{ 
  font-size: 1.05em;     
}

img {
  width:100%;
  height:auto;
}

.clear{ 
  clear:both; 
} 

.right{ 
  float: right; 
} 

.left{ 
  float: left; 
}

.wrapper{  
  width:85%;   
  margin-left:auto;  
  margin-right:auto;
}

input.text { 
  padding: 4px; 
  border: 1px solid #999999;
  font-size: 15px ;     
}

/* Tables  
-----------------------------------------------------------------------------*/ 

table {  
  border-spacing: 0; 
  border-collapse: collapse; 
} 

td  { 
  text-align: left; 
  font-weight: normal; 
}

/* Flexbox
-----------------------------------------------------------------------------*/

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}

.flex-container>.flex-item{
  display:flex;
  padding:.5em;
  box-sizing: border-box;
}

.flex-item>div{
  flex: 1 1 auto;
}

.reverse{
  flex-direction: row-reverse;
}

.flex-container>.col-25{
  flex: 0 0 25%;
  width: 25%;
}