.site-logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: #fff ;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 6px rgba(34, 34, 34, 0.7) ;
}

.site-logo.normal{
    font-size: 1.5em ;
}

.site-logo.large{
    font-size: 2.5em ;
}

.site-logo.invert{
    color: rgb(43, 43, 43) ;
    text-shadow: none;
}

.site-logo>.highlight{
    color: #FB8122 ;
}

@media(max-width: 940px){
    .site-logo.large{
        font-size: 2em!important ;
    }
}

@media(max-width: 640px){
    .site-logo.normal{
        font-size: 1.3em!important ;
    }
}