body{
    background-color: rgb(233, 233, 233);
}

a{
    text-decoration: none;
    color:rgb(105, 105, 105) ;
    transition: color .5s ;
}

a:hover{
    color: #d6762d ;
}

button, input[type="submit"], [class~="btn-"]{
    padding: 8px 16px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    border-radius: 0 3px 3px 0;
    background-color: #FB8122;
    color: #fff;
    cursor: pointer ;
    transition: all .5s ;
    border: 0;
}

button:hover, input[type="submit"]:hover, [class~="btn-"]:hover{
    background-color: #d6762d;
}

.btn-semi-transparent{
    background-color: rgb(218, 218, 218);
    color:rgb(105, 105, 105) ;
    padding: 8px 5px;
}

.btn-semi-transparent:hover{
    background-color: rgb(212, 212, 212);
    color: rgb(128, 128, 128);
}

.panel{
    background-color: #fff;
    border: 1px solid rgb(199, 199, 199);
    padding: 20px;
    margin-bottom: 10px;
}

.panel-title{
    margin: 0 0 1.2em 0 ;
}

.panel.transparent{
    background-color: transparent;
    border: 0 ;
}

/* TEXT STYLE
---------------------------------- */
.highlight{
    color: #FB8122 ;
}

.grey{
    color:rgb(116, 116, 116) ;
}

.editable{
    cursor: text;
    transition-duration: .5s;
}

.editable:hover{
    color: rgb(124, 124, 124);
}